appdirs==1.4.3
APScheduler==3.6.3
arabic-reshaper==2.1.3
asgiref==3.3.4
attrs==21.2.0
autoit==0.2.3
beautifulsoup4==4.9.3
CacheControl==0.12.6
certifi==2019.11.28
chardet==3.0.4
clarifai==2.6.2
colorama==0.4.3
configparser==5.0.2
contextlib2==0.6.0
crayons==0.4.0
decorator==4.0.11
distlib==0.3.0
distro==1.4.0
Django==3.2.1
django-filter==2.4.0
djangorestframework==3.12.4
EasyProcess==0.3
emoji==1.2.0
filetype==1.0.5
future==0.18.2
googleapis-common-protos==1.53.0
grpcio==1.37.0
html5lib==1.0.1
huepy==1.2.1
idna==2.8
imageio==2.1.2
imageio-ffmpeg==0.4.3
iniconfig==1.1.1
instabot==0.117.0
instagram-private-api==1.6.0.0
instagram-private-api-extensions==0.3.8
InstagramAPI==1.0.2
instapy==0.6.13
instapy-cli==0.0.12
ipaddr==2.2.0
jsonschema==2.6.0
lockfile==0.12.2
Markdown==3.3.4
MeaningCloud-python==2.0.0
mock==4.0.3
moviepy==0.2.3.2
msgpack==0.6.2
numpy==1.20.3
packaging==20.3
pep517==0.8.2
Pillow==8.2.0
pluggy==0.13.1
plyer==2.0.0
proglog==0.1.9
progress==1.5
protobuf==3.15.8
py==1.10.0
pyparsing==2.4.6
pyperclip==1.8.2
PySocks==1.7.1
pytest==6.2.4
python-bidi==0.4.2
python-libxdo==0.1.2a1
python-telegram-bot==13.4.1
python-xlib==0.30
pytoml==0.1.21
pytz==2021.1
PyVirtualDisplay==2.1
PyYAML==5.4.1
regex==2021.4.4
requests==2.22.0
requests-toolbelt==0.7.0
responses==0.13.3
retrying==1.3.3
schedule==1.1.0
selenium==3.141.0
six==1.14.0
soupsieve==2.2.1
sqlparse==0.4.1
toml==0.10.2
tornado==6.1
tqdm==4.11.2
tzlocal==2.1
urllib3==1.25.8
webdriver-manager==3.4.0
webdriverdownloader==1.1.0.3
webencodings==0.5.1
